body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #d1d8e0; /* Fundo intermediário mais escuro */
    color: #333;
}

.container {
    background: #e6e9ef; /* Caixa da calculadora com tom mais neutro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.calculo-item {
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(135deg, #5d5fef, #7a7eff); /* Gradiente mais suave para os botões cálculo */
    padding: 12px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #7a7eff, #5d5fef);
}

.detalhes {
    display: none;
    margin-top: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f4f4f6;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #5d5fef, #7a7eff); /* Gradiente suave para os botões */
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #7a7eff, #5d5fef);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #333;
}
